n8n/deconstruct-ai-live-orchestrator.json
{
  "name": "Deconstruct AI Live Orchestrator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deconstruct-ai-generate",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "11111111-aaaa-4aaa-8aaa-111111111111",
      "name": "Design Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        240
      ],
      "webhookId": "deconstruct-ai-generate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://flowise:3000/api/v1/prediction/11111111-1111-4111-8111-111111111111",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Origin",
              "value": "http://localhost:5000"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { question: JSON.stringify($json.body || $json) } }}",
        "options": {}
      },
      "id": "22222222-bbbb-4bbb-8bbb-222222222222",
      "name": "Call Flowise Layout Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server:5001/mcp/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { event: 'n8n_flowise_gemini_orchestration', source: 'n8n', flowiseSource: $('Call Flowise Layout Rules').first().json.source, geminiImage: Boolean(($('Call Gemini Image Model').first().json.candidates?.[0]?.content?.parts || []).find(p => p.inlineData)), timestamp: new Date().toISOString() } }}",
        "options": {}
      },
      "id": "33333333-cccc-4ccc-8ccc-333333333333",
      "name": "Log Orchestration Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const flowise = $('Call Flowise Layout Rules').first().json;\nconst gemini = $('Call Gemini Image Model').first().json;\nconst requestBody = $('Design Request Webhook').first().json.body || {};\nconst parts = gemini?.candidates?.[0]?.content?.parts || [];\nconst imagePart = parts.find(p => p.inlineData);\nconst textPart = parts.find(p => p.text);\nconst refCount = Array.isArray(requestBody.referenceImageFiles) ? requestBody.referenceImageFiles.length : 0;\nconst assetCount = Array.isArray(requestBody.userAssetFiles) ? requestBody.userAssetFiles.length : 0;\nreturn [{ json: { source: 'n8n-live-orchestrator', n8nWorkflow: 'Deconstruct AI Live Orchestrator', flowise, gemini: { attempted: true, ok: Boolean(imagePart), model: 'gemini-2.5-flash-image', text: textPart?.text || null, image: imagePart ? { mimeType: imagePart.inlineData.mimeType, data: imagePart.inlineData.data } : null, conditioning: { templateMode: requestBody.templateMode || 'ad-hoc-generation', existingTemplateRulesUsed: Boolean(requestBody.existingTemplateRules), referenceImageCount: refCount, assetImageCount: assetCount, usedInlineImageParts: true } }, evidence: { n8n: true, flowise: flowise.source === 'flowise-chatflow', gemini: Boolean(imagePart), multimodalImages: (refCount + assetCount) > 0, resourceSeedImages: assetCount > 0, templateMode: requestBody.templateMode || 'ad-hoc-generation', flowiseChatflowId: flowise.chatflowId, mcpLogged: true, timestamp: new Date().toISOString() } } }];"
      },
      "id": "44444444-dddd-4ddd-8ddd-444444444444",
      "name": "Return Orchestrated Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent?key=' + $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const body = $('Design Request Webhook').first().json.body || {};\n  const flowise = $('Call Flowise Layout Rules').first().json || {};\n  const text = body.caption || (body.userCopyTexts || [''])[0] || '';\n  const designType = body.designType || 'design';\n  const templateMode = body.templateMode || 'ad-hoc-generation';\n  const existingTemplateRules = body.existingTemplateRules || null;\n  const parts = [];\n  const toInlinePart = (dataUrl) => {\n    if (!dataUrl || typeof dataUrl !== 'string') return null;\n    const match = dataUrl.match(/^data:([^;]+);base64,(.+)$/);\n    if (!match) return null;\n    return { inlineData: { mimeType: match[1], data: match[2] } };\n  };\n  const ruleText = existingTemplateRules\n    ? 'Reuse this stored template exactly as the style/rules source: ' + JSON.stringify(existingTemplateRules)\n    : 'Create/extract the reusable template style from the uploaded reference image(s).';\n  parts.push({\n    text: 'You are generating the final production image for Deconstruct AI. Architecture mode: ' + templateMode + '. ' + ruleText + ' Apply the template rules/style to a polished ' + designType + ' with exact visible text: \"' + text + '\". Use Flowise structural rules as additional guidance: ' + JSON.stringify(flowise.layoutRules || {}) + '. Resource/asset image(s) are the subject/content seed and must be visibly used. Do not create a generic thumbnail. Do not ignore the supplied images. Do not output a wireframe, flat canvas mockup, or placeholder.'\n  });\n  const referenceImages = Array.isArray(body.referenceImageFiles) ? body.referenceImageFiles : [];\n  const assetImages = Array.isArray(body.userAssetFiles) ? body.userAssetFiles : [];\n  if (!existingTemplateRules) {\n    referenceImages.slice(0, 3).forEach((img, idx) => {\n      parts.push({ text: 'Reference image ' + (idx + 1) + ' for NEW TEMPLATE CREATION: extract color palette, typography feel, texture, composition, spacing, effects, and visual design language.' });\n      const part = toInlinePart(img); if (part) parts.push(part);\n    });\n  }\n  assetImages.slice(0, 4).forEach((img, idx) => {\n    parts.push({ text: 'Resource/asset seed image ' + (idx + 1) + ': use this as the actual subject/content seed in the generated design while applying the selected/extracted template style.' });\n    const part = toInlinePart(img); if (part) parts.push(part);\n  });\n  return {\n    contents: [{ parts }],\n    generationConfig: { responseModalities: ['TEXT','IMAGE'] }\n  };\n})() }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "55555555-eeee-4eee-8eee-555555555555",
      "name": "Call Gemini Image Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        240
      ]
    }
  ],
  "connections": {
    "Design Request Webhook": {
      "main": [
        [
          {
            "node": "Call Flowise Layout Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Flowise Layout Rules": {
      "main": [
        [
          {
            "node": "Call Gemini Image Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Orchestration Evidence": {
      "main": [
        [
          {
            "node": "Return Orchestrated Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini Image Model": {
      "main": [
        [
          {
            "node": "Log Orchestration Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "11111111-2222-4333-8444-555555555555",
  "triggerCount": 1,
  "tags": [],
  "id": "deconstructLiveOrchestrator"
}