n8n/deconstruct-ai-native-gemini-orchestrator.json
{
  "updatedAt": "2026-06-06T06:11:52.529Z",
  "createdAt": "2026-06-04T09:49:55.778Z",
  "id": "deconstructLiveOrchestrator",
  "name": "Deconstruct AI Gemini Image Edit Orchestrator",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deconstruct-ai-generate",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "11111111-aaaa-4aaa-8aaa-111111111111",
      "name": "Design Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        240
      ],
      "webhookId": "deconstruct-ai-generate"
    },
    {
      "parameters": {
        "jsCode": "const source = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst assets = source.n8nBinaryAssets || {};\nconst binary = {};\nfor (const [fieldName, asset] of Object.entries(assets)) {\n  if (!asset || !asset.data || !asset.mimeType) continue;\n  binary[fieldName] = {\n    data: String(asset.data).replace(/^data:[^;]+;base64,/, ''),\n    mimeType: asset.mimeType,\n    fileName: asset.fileName || fieldName,\n  };\n}\nconst inputBinaryFields = Object.keys(binary)\n  .filter((field) => field === 'base_canvas' || /^asset_\\d+$/.test(field))\n  .sort((a, b) => {\n    if (a === 'base_canvas') return -1;\n    if (b === 'base_canvas') return 1;\n    return Number(a.replace(/\\D/g, '')) - Number(b.replace(/\\D/g, ''));\n  });\nreturn [{ json: { ...source, inputBinaryFields }, binary }];"
      },
      "id": "22222222-bbbb-4bbb-8bbb-222222222222",
      "name": "Prepare Binary Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        240
      ]
    },
    {
      "id": "44444444-dddd-4ddd-8ddd-444444444444",
      "name": "Edit Image with Gemini",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        580,
        240
      ],
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "modelId": {
          "mode": "list",
          "value": "models/gemini-3.1-flash-image"
        },
        "prompt": "={{ $json.imagePrompt }}",
        "images": {
          "values": [
            {
              "binaryPropertyName": "base_canvas"
            },
            {
              "binaryPropertyName": "asset_1"
            }
          ]
        },
        "options": {
          "binaryPropertyOutput": "edited"
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "ha26bIjKk2V6XpKI",
          "name": "Gemini API (Deconstruct AI)"
        }
      }
    },
    {
      "id": "55555555-eeee-4eee-8eee-555555555555",
      "name": "Convert Generated Image to Base64",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        840,
        240
      ],
      "parameters": {
        "mode": "binaryToJson",
        "setAllData": false,
        "sourceKey": "edited",
        "destinationKey": "generatedImageData",
        "options": {
          "keepAsBase64": true,
          "keepSource": true
        }
      }
    },
    {
      "id": "66666666-ffff-4fff-8fff-666666666666",
      "name": "Return Native Orchestration Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        240
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "source",
              "name": "source",
              "type": "string",
              "value": "n8n-image-generation-orchestrator"
            },
            {
              "id": "n8nWorkflow",
              "name": "n8nWorkflow",
              "type": "string",
              "value": "Deconstruct AI Gemini Image Edit Orchestrator"
            },
            {
              "id": "templateRuleQuality",
              "name": "templateRuleQuality",
              "type": "object",
              "value": "={{ (() => { const body = $('Prepare Binary Inputs').first().json; const ruleText = ((body.templateRuleText || body.existingTemplateRules || '') + '').trim(); return { storageFormat: 'plain-multiline-text', characterCount: ruleText.length, lineCount: ruleText ? ruleText.split('\\n').length : 0, richEnough: ruleText.length >= 1000 }; })() }}"
            },
            {
              "id": "gemini",
              "name": "gemini",
              "type": "object",
              "value": "={{ (() => { const body = $('Prepare Binary Inputs').first().json; const inputFields = ($('Prepare Binary Inputs').first().json.inputBinaryFields || []).filter(k => /^asset_\\d+$/.test(k)); const data = $json.generatedImageData || null; const mimeType = (($binary.edited && $binary.edited.mimeType) || 'image/png'); return { attempted: true, ok: Boolean(data && mimeType && mimeType.startsWith('image/')), model: 'models/gemini-3.1-flash-image', outputImageSize: body.outputImageSize || '1536x1024', text: null, image: data ? { mimeType, data } : null, assetImageCount: inputFields.length, responseDiagnostics: { source: 'native-gemini-edit-image-node', nativeNodeBypassed: false, hasEditedBinary: Boolean($binary.edited), hasImageData: Boolean(data), inputBinaryFields: inputFields }, conditioning: { templateMode: 'reuse-existing-template', generationMode: body.generationMode || 'single', existingTemplateRulesUsed: Boolean((body.templateRuleText || body.existingTemplateRules || '').trim()), referenceImageCount: 0, assetImageCount: inputFields.length, usedNativeGeminiImageEditNode: true, directGeminiApi: false, assetRequiredInPrompt: true, inputBinaryFields: inputFields } }; })() }}"
            },
            {
              "id": "evidence",
              "name": "evidence",
              "type": "object",
              "value": "={{ (() => { const body = $('Prepare Binary Inputs').first().json; const inputFields = ($('Prepare Binary Inputs').first().json.inputBinaryFields || []).filter(k => /^asset_\\d+$/.test(k)); return { n8n: true, flowise: false, flowiseBypassed: true, gemini: Boolean($json.generatedImageData), nativeGeminiNodes: true, nativeGeminiImageEditNode: true, directGeminiApi: false, codeNodesInPrimaryPath: 1, imageDataReturned: Boolean($json.generatedImageData), noFallbacks: true, inputBinaryFields: inputFields, assetImageCount: inputFields.length, outputImageSize: body.outputImageSize || '1536x1024', referenceImageCount: 0, templateMode: 'reuse-existing-template', generationMode: body.generationMode || 'single', timestamp: new Date().toISOString() }; })() }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Design Request Webhook": {
      "main": [
        [
          {
            "node": "Prepare Binary Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Binary Inputs": {
      "main": [
        [
          {
            "node": "Edit Image with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image with Gemini": {
      "main": [
        [
          {
            "node": "Convert Generated Image to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Generated Image to Base64": {
      "main": [
        [
          {
            "node": "Return Native Orchestration Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "triggerCount": 1,
  "tags": [],
  "shared": [],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}