n8n/deconstruct-ai-live-orchestrator.json
{
  "name": "Deconstruct AI Live Orchestrator",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deconstruct-ai-generate",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "11111111-aaaa-4aaa-8aaa-111111111111",
      "name": "Design Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        240
      ],
      "webhookId": "deconstruct-ai-generate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://flowise:3000/api/v1/prediction/11111111-1111-4111-8111-111111111111",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Origin",
              "value": "http://localhost:5000"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { question: JSON.stringify($json.body || $json) } }}",
        "options": {}
      },
      "id": "22222222-bbbb-4bbb-8bbb-222222222222",
      "name": "Call Flowise Layout Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server:5001/mcp/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { event: 'n8n_flowise_orchestration', source: 'n8n', flowiseSource: $json.source, chatflowId: $json.chatflowId, mode: $json.mode, slideCount: $json.slideCount, timestamp: new Date().toISOString() } }}",
        "options": {}
      },
      "id": "33333333-cccc-4ccc-8ccc-333333333333",
      "name": "Log Orchestration Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const flowise = $('Call Flowise Layout Rules').first().json;\nreturn [{ json: { source: 'n8n-live-orchestrator', n8nWorkflow: 'Deconstruct AI Live Orchestrator', flowise, evidence: { n8n: true, flowise: flowise.source === 'flowise-chatflow', flowiseChatflowId: flowise.chatflowId, mcpLogged: true, timestamp: new Date().toISOString() } } }];"
      },
      "id": "44444444-dddd-4ddd-8ddd-444444444444",
      "name": "Return Orchestrated Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        240
      ]
    }
  ],
  "connections": {
    "Design Request Webhook": {
      "main": [
        [
          {
            "node": "Call Flowise Layout Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Flowise Layout Rules": {
      "main": [
        [
          {
            "node": "Log Orchestration Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Orchestration Evidence": {
      "main": [
        [
          {
            "node": "Return Orchestrated Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "11111111-2222-4333-8444-555555555555",
  "triggerCount": 1,
  "tags": [],
  "id": "deconstructLiveOrchestrator"
}